<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lexend:wght@100..900&family=Sixtyfour+Convergence&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar2') %>
    <!-- Navbar yang dinamis -->
    <div class="hero">
      <div class="hero-content flex-col lg:flex-row">
        <!-- <img src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
          class="max-w-sm rounded-lg shadow-2xl" /> -->
        <div>
          <h1 class="text-5xl font-bold">Welcome, <%= name %>!</h1>
          <br>
          <p>Role: <%= role %></p>
          <p>Age: <%= age %></p>
          <div class="my-6 flex gap-2">
            <a href="/dashBoard/<%= userId %>/course/all"><button class="btn btn-primary">See All Courses</button></a>
            <a href="/dashBoard/<%= userId %>/course"><button class="btn btn-accent">See My Courses</button></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
