<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lexend:wght@100..900&family=Sixtyfour+Convergence&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar2') %>
    <!-- Navbar yang dinamis -->

    <h1>Welcome, <%= name %>!</h1>
    <p>Role: <%= role %></p>
    <p>Age: <%= age %></p>

    <h2>Your Courses</h2>
    <% if (courses.length > 0) { %>
    <ul>
      <% courses.forEach(course => { %>
      <li>
        <%= course.name %> -
        <button
          onclick="location.href='/dashBoard/<%= userId %>/course/<%= course.id %>'"
        >
          View Course
        </button>
        <!-- <a href="/dashBoard/<%= userId %>/course/<%= course.id %>"
          >View Course</a
        > -->
        <% if (role === 'teacher') { %>
        <!-- Jika user adalah teacher -->
        <button
          onclick="location.href='/dashBoard/<%= userId %>/course/<%= course.id %>/edit'"
        >
          Edit
        </button>
        <button
          onclick="location.href='/dashBoard/<%= userId %>/course/<%= course.id %>/delete'"
        >
          Delete
        </button>
        <!-- <a href="/dashBoard/<%= userId %>/course/<%= course.id %>/edit">Edit</a>
        <a href="/dashBoard/<%= userId %>/course/<%= course.id %>/delete"
          >Delete</a
        > -->
        <% } %>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>You have no courses yet.</p>
    <% } %>
  </body>
</html>
