<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Course</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lexend:wght@100..900&family=Sixtyfour+Convergence&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar2') %>

    <div class="overflow-x-auto px-20 flex flex-col items-center">
    <p class="text-xl"><b>Edit Course</b></p>
    <br>

    <% if (error) { %>
      <div role="alert" class="alert alert-error w-72 mb-6">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>
          <%= error %>
        </span>
      </div>
      <% } %>

    <!-- Form untuk mengedit course -->
    <form
      action="/dashBoard/<%= userId %>/course/<%= course.id %>/edit"
      method="POST"
    >
      <label for="name">Course Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= course.name %>"
        class="input input-bordered input-sm w-full max-w-xs"
      />
      <br /><br />

      <label for="description">Description:</label>
      <textarea 
        id="description" 
        name="description"  
        class="textarea textarea-bordered textarea-md w-full max-w-xs"
      >
        <%= course.description %>
      </textarea>
      <br /><br />

      <label for="duration">Duration (hours):</label>
      <input
        type="number"
        id="duration"
        name="duration"
        value="<%= course.duration %>"
        class="input input-bordered input-sm w-full max-w-xs"
      />
      <br /><br />

      <label for="videoUrl">Video URL:</label>
      <input
        type="text"
        id="videoUrl"
        name="videoUrl"
        value="<%= course.videoUrl %>"
        class="input input-bordered input-sm w-full max-w-xs"
      />
      <br /><br />

      <label for="author">Author:</label>
      <input
        type="text"
        id="author"
        name="author"
        value="<%= course.author %>"
        class="input input-bordered input-sm w-full max-w-xs"
      />
      <br /><br />

      <div class="text-center mb-6">
        <button type="submit" class="btn btn-accent btn-sm">Save Changes</button>
      </div>
    </form>

    </div>

  </body>
</html>
